@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
body
{
      font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;

font-size:30px;
    background:#454d5c;
    margin: 0;
    padding: 0;

    color:#52d6d0
    

}
body.dark-theme {
    background-color: black !important;
    color: yellow !important;
}

#side
{
    background:#3e4147;
    width:189px;
    float:left;
    height:800px;
    
}



#head
{

    background: #10659b;
    width:1729px;
    height:100px;
    float:left;


    
}




#choice
{
width: 1450px;
height:700px;

float:left;
}

#pricing
{

height:700px;
width:279px;
background:#505264;
float:left;
box-shadow:5px 10px 30px #8c9099;
}

#chatbox
{
    clear:both;
   background:#3e4147;
    height:150px;
}

#logo
{
    height:100px;
}
#system
{
    height:100px;
    
    
}
#chiken
{

height:100px;
margin-left: 870px;
}
#boxbox
{
 margin-left:100px;
 height:50px;
 width:150px;
 background:red;
}

#bottom
{
background:#AAE5A4;
width:1920px;
}
