body
{
    font-family:Arial;
    background:#454d5c;
    margin: 0;
    padding: 0;

    color:#52d6d0
    

}

#side
{
    background:#3e4147;
    width:189px;
    float:left;
    height:800px;
    
}



#head
{

    background: #10659b;
    width:1729px;
    height:100px;
    float:left;


    
}




#choice
{
width: 1450px;
height:700px;
background:red;
float:left;
}

#pricing
{
background: #10659b;


#chatbox
{
   

    background:#3e4147;
}









#logo
{
    height:100px;
}
#system
{
    height:100px;
    
    
}
#chiken
{
height:100px;
margin-left: 870px;
}